@media only screen and (min-width: 65em) {
    main, .info, .content-grid, .towns {
        max-width: 1400px;
        margin: auto;
   }
   #logo {
        border-radius: 50px 50px 50px 50px;
    
    }
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px; 
    }