@media only screen and (min-width: 65em) {
    main, .info, .content-grid, .towns {
        max-width: 1400px;
        margin: auto;
   }
   #logo {
        border-radius: 50px 50px 50px 50px;
    
    }
    .content-grid, .towns {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
   }
    .town {
        width: 400px;
   }
    .gallery:hover {
        box-shadow: 0 0 50px #999;
   }
    .town {
        grid-template-columns: 1fr;
   }
    .town:nth-child(odd) .stats, .town:nth-child(even) .stats{
        grid-column: initial;
   }
    .town:nth-child(odd) img, .town:nth-child(even) img {
        grid-row: initial;
        grid-column: initial;
   }
}
#home-preston h2, #home-soda h2, #home-fish h2{
    border-bottom: 3px solid #000000;
    padding:1rem;
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
}
#home-preston h4, #home-soda h4, #home-fish h4{
    
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
}

form {
    /* Center the form on the page */
    margin: 50px;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: left;
    background-color: rgb(205, 231, 240);
  }
 