header {
    display:flex;
    flex-direction: column;
    text-align: center;
    line-height: 0.5rem;
    align-items: center;
}

picture {
    margin-top: 10px;
    max-width: 172.38px;
}

.headings {
    margin-left: 2vw;
    flex-direction: column;
    margin-bottom: 5px;
}

#logo {
    float: left;
    width: 150px;
    max-width: 150px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 0.7rem;
    margin: 5px;
}
